@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 23% 97%;
    --foreground: 214 13% 14%;
    --card: 0 0% 100%;
    --card-foreground: 214 13% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 214 13% 14%;
    --primary: 217 92% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214 30% 95%;
    --secondary-foreground: 214 13% 14%;
    --muted: 214 26% 95%;
    --muted-foreground: 217 12% 46%;
    --accent: 214 100% 95%;
    --accent-foreground: 216 60% 35%;
    --destructive: 0 64% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 218 23% 87%;
    --input: 218 23% 87%;
    --ring: 217 92% 58%;
    --radius: 0.5rem;
  }
}
